.home-page {
    padding: 1rem 0;
    .container {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        &-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            &-left {
                flex: 0 0 auto;
                width: 33.333333333333336%;
                padding-right: calc(var(--bs-gutter-x) * .5);
                padding-left: calc(var(--bs-gutter-x) * .5);
                img {
                    width: 300px;
                    border-radius: 50%;
                    margin: 0 auto;
                    vertical-align: middle;
                }
            }
            &-right {
                padding-right: calc(var(--bs-gutter-x) * .5);
                padding-left: calc(var(--bs-gutter-x) * .5);
                flex: 0 0 auto;
                width: 66.66666666666666%;
                &-title {
                    h1 {
                        font-size: 3.5rem;
                        font-weight: 300 !important;
                        line-height: 1.2;
                        margin-bottom: 0.5rem;
                    }
                    p {
                        font-size: var(--bs-font-size-xl);
                        font-weight: 400;
                        margin-bottom: 1rem;
                    }
                }
                &-content {
                    p {
                        font-size: var(--bs-font-size-xl);
                        font-weight: 400;
                        margin-bottom: 1rem;
                        text-align: start;
                    }
                    padding-bottom: 0.5rem;
                    border-bottom: 1px solid #dee2e6;
                }
                &-button {
                    margin-top: 1.5rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    a {
                        flex: 1 0 0%;
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                    
                }
            }
        }
    }
}

// @media (min-width: 1200px) {
//     .home-page {
//         .container {
//             max-width: 1140px;
//         }
//     }
// }

// @media (min-width: 992px) {
//     .home-page {
//         .container {
//             max-width: 960px;
//         }
//     }
// }

// @media (min-width: 768px) {
//     .home-page {
//         .container {
//             max-width: 720px;
//         }
//     }
// }

// @media (min-width: 576px) {
//     .home-page {
//         .container {
//             max-width: 540px;
//         }
//     }
// }